* {
    margin: 0;
    padding: 0;
}

body {
    margin-left: 300px;
    margin-right: 300px;
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 700;
    font-style: normal;
    color: #424242;
    text-align: center;
}

.logo {
    padding-top: 20px;
}

.container {
    position: relative;
    margin: 10px;
    margin-bottom: 20px;
    display: flex;
}


.image {
    display: block;
    width: 100%;
    height: 300.8px;
    width: 426.4px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #68DDBD;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }

.text {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: hwb(0 26% 74% / 0.43);
}

a:hover {
    color: #68DDBD;
}

.flex {
    display: flex;
    text-align: center;
    justify-content: center;
}

.item {
    margin: 38px;
    white-space: nowrap;
}

.descricao {
    padding-top: 60px;
    padding-bottom: 60px;
}

.redes {
    padding: 5px;
    margin: 10px;
    width: 24px;
    height: 24px;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
}

.redes:hover {
    border: 3px solid #68DDBD;
}

.container-sobremim{
    display: flex;
}

.texto-perfil{
font-size: 18px; font-weight: normal; text-align: justify; margin-left: 15px;
}